langgraph
langchain
langchain-core
langchain-ollama

fastapi
uvicorn[standard]
python-dotenv
pydantic

faster-whisper
lingua-language-detector

apscheduler

sqlalchemy
aiosqlite

httpx
requests

python-multipart
websockets

piper-tts

dateparser

pytest
pytest-asyncio

sounddevice
scipy

nvidia-cublas-cu12
nvidia-cudnn-cu12

flask
twilio


flask-sock
simple-websocket
faster-whisper
audioop-lts
python-dotenv
websocket-client



